*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    
    overflow-x: hidden;
    scroll-behavior: smooth;
}
$purple: purple;
$fbig: 18px;
$fsmall: 14px;
$border: 10px 10px 5px 5px;